@charset "utf-8";
html {
    overflow-x: hidden;
}
@font-face{
    font-family:"FontAwesome";
    src:url(../fonts/fontawesome-webfont.ttf),
    url(../fonts/fontawesome-webfont.eot),
    url(../fonts/fontawesome-webfont.woff);
}
#hkj {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 2000px;
}

#focus {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#focus div {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#focus img {
    width:1500px;
    position:relative;
    left:50%;
    margin-left:-750px;
    /*max-width: 100%;*/
    /*min-width: 100%;*/
    /*height:100%;*/
}
#focus #focus_img {
    display: none;
}




#focus .logo {
    font-size: 100px;
    position:absolute;
    width:320px;
    top:30%;
    left:50%;
    text-align: center;
    margin-left:-160px;
    cursor:progress;
}
#focus a.focus_start{
    cursor:pointer;
    position:relative;
    top:80%;
    left:50%;
    font-size: 38px;
    margin-left:-20px;
}
#focus a.focus_start:before{
    color:#fff;
    content:"﹀";
    font-size: 40px;
    position:relative;
    top:0px;
    opacity: 0;
    -o-animation:toone 0.7s linear infinite 0.5s;
    -webkit-animation:toone 0.7s linear infinite 0.5s;
    animation:toone 0.7s linear infinite 0.5s;
}
#focus .logo p{
    color: #fff;
}
#focus .page{
    position:absolute;
    bottom:20px;
    right:50px;
}
@-webkit-keyframes toone{
    0%{
        top:0px;
        opacity: 0;
    }
    100%{
        top:20px;
        opacity:1;
    }
}
@keyframes toone{
    0%{
        top:0px;
        opacity: 0;
    }
    100%{
        top:20px;
        opacity:1;
    }
}

/* 页面导航标题 */
#nav {
    overflow: hidden;
    position: relative;
    padding-top:40px;
}
#nav .nav div[class^=nav_title] {
    float: left;
    width:168px;
    height: 168px;
    border-radius: 50%;
    border: 2px solid #c9e2b3;
    margin: 2em 56px;
    font-size:2rem;
    text-align: center;
    line-height: 168px;
    transition:all 1s;
    position:relative;
}
#nav .nav div[class^=nav_title] span{
    display: inline-block;
    width:100%;
    height:100%;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    transition:all 0.8s;
}
#nav .nav div.nav_title1 span{
    background:url(../img/tit/t1.jpg) no-repeat;
}
#nav .nav div[class^=nav_title] span:hover{
    opacity:1;
    transition:all 0.8s;
}
#nav .nav div.nav_title2 span{
    background:url(../img/tit/t2.jpg) no-repeat;
}
#nav .nav div.nav_title3 span{
    background:url(../img/tit/t3.jpg) no-repeat;
}
#nav .nav div.nav_title4 span{
    background:url(../img/tit/t4.jpg) no-repeat;
}
#nav .nav div[class^=nav_title] a {

}



#main #vr{
    background:#222;
}
#main .capacoty {
    padding: 30px 0;
}
#main .capacoty .view {
    float: left;
    position:relative;
}




@media screen and (min-width:1200px){
    #nav .nav {
        width: 1120px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        color: #fff;
    }
    #main .capacoty .phone {
        width:1120px;
        margin: 0 auto;
    }
    #main .ai .artificial {
        width:1120px;
        margin: 0 auto;
    }
    #main .uav {
         width:1120px;
         margin: 0 auto;
     }
    #main .vr {
        width:1120px;
        margin: 0 auto;
    }
    #main .capacoty .view {
        width:50%;
        height:21.9rem;
        overflow: hidden;
    }
    #main .phone_left{
        float:left;
        width:67%;
    }
    #main .ai .artificial .capacoty_con > div {
        width: 33%;
    }
    #main .uav .uav_con > div {
        width: 25%;
        overflow: hidden;
    }
    .view {
        border:0.5rem solid transparent;
        position: relative;
        text-align: center;
        cursor: default;
    }
    #main .capacoty .phone .big_img{
         float:right;
         width:33%;
         height:700px;
         border:0.5rem solid transparent;
     }
    #main .vr .vr_con > div:nth-child(1) {
        width: 75%;
        border-color: transparent;
    }
    #main .uav_con .uav_classify {
        border: 0.5rem solid transparent;
        float: left;
    }
    .syno {
        float: left;
        border: 0.5rem solid transparent;
        position: relative;
        height:355px;
    }
    #main .uav .uav_con > div:nth-child(1), #main .uav .uav_con > div:nth-child(2) {
        width: 50%;
    }
    #banner{
        position:fixed;
        top:40%;
        left:-100px;
    }
    #main .vr .vr_con > div {
        width: 25%;
        overflow: hidden;
    }

}

@media screen and (max-width:1199px){
    #banner{
        display: none;
    }
    #main .uav_con .uav_classify {
        border:0;
        float: left;
    }
    #main .vr .vr_con > div:last-child{
        display:none;
    }
    #nav .nav {
         display:none;
     }

}
@media screen and (min-width:768px) and (max-width:1200px){
    #main .capacoty .phone,#main .ai .artificial{
        width:100%;
        margin: 0 auto;
    }
    #main .vr{
        width:100%;
        margin: 0 auto;
    }
    #main .capacoty .view {
        width:50%;
        height: 350px;
        overflow: hidden;
    }
    #main .ai .artificial .capacoty_con > div {
        width: 33%;
    }
    .view {
        border:0;
        position: relative;
        text-align: center;
        cursor: default;
    }
    #main .capacoty .phone .big_img{
         float:right;
         width:33%;
         height:700px;
         border:0;
     }
    #main .phone_left{
        float:left;
        width:67%;
    }
    #main .capacoty .phone .big_img img{
        height:700px;
    }
    #main .uav .uav_con > div {
        width: 25%;
        overflow: hidden;
    }
    #main .uav .uav_con > div:nth-child(1), #main .uav .uav_con > div:nth-child(2) {
        width: 50%;
    }
    #main .vr .vr_con > div:nth-child(1) {
        width: 100%;
        border-color: transparent;
    }
    #main .vr .vr_con > div {
        width: 25%;
        overflow: hidden;
    }
    .syno {
        height: 339px;
    }

}
@media screen and (min-width:769px){
    #top {
        position: fixed;
        top: 0;
        width: 100%;
        height:100px;
        z-index: 1000;
    }
    #top .select{
        float:right;
        padding:18px 50px 0 0;
    }
    #top .select a{
        font-size:14px;
        margin:0 10px;
        color:#fff;
        float:right;
    }
    #search{
        float:right;
        position:relative;
        top:-10px;
        right:15px;
        width: 300px;
        margin: 0 auto;
        height: 35px;
    }
    #search input {
        height: 100%;
        width: 0;
        padding: 0 42px 0 15px;
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        background: transparent;
        transition: .4s cubic-bezier(0, 0.8, 0, 1);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor:pointer;
    }
    #search input:focus {
        width: 300px;
        z-index: 1;
        border-bottom: 2px solid #F9F0DA;
    }
    #search button {
        background:transparent;
        border: none;
        height: 35px;
        width: 35px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    #search button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA;
    }

    #top .select span{
        float:right;
        width:1px;
        height:30px;
        position:relative;
        top:-7px;
        background:#fff;
    }
    #top .select span{
        color:#fff;
    }
    #model_load .model_load_foot p{
        margin-left:20px;
    }
    #model_load .model_load_foot div{
        text-align:center;
        margin:5px auto;
    }
    #model_load .model_load_foot a{
        display:inline-block;
        width:40px;
        height:40px;
        margin:0 10px;
        background:url(../img/abc.png) no-repeat 1px -810px;
    }
    #model_load .model_load_foot a:nth-child(2){
        background-position:1px -856px;
    }
    #model_load .model_load_foot a:nth-child(3){
        background-position:1px -897px;
    }
    #user{
        background:url(../img/abc.png) no-repeat -8px -624px;
    }
    #pwd{
        background:url(../img/abc.png) no-repeat -8px -703px;
    }
    #top .logo img {
        height: 80px;
    }
    #top .top_list {
        float: right;
        margin-right: 50px;
        position:absolute;
        bottom:9px;
        right:0;
    }
    #top .top_list li {
        float: left;
        position: relative;
    }
    #top .top_list li.science a:after{
        content: "";
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:2px;
        visibility: visible;
        background:#4395FF;
        transform: scaleX(1);
    }
    #top .top_list > li > a {
        display: inline-block;
        height: 2.5rem;;
        width: 6rem;
        line-height: 2.5rem;;
        font-size: 1rem;
        text-align: center;
        color:#fff;
        position:relative;
    }
    #top .top_list > li > a:after{
         content: "";
         position:absolute;
         bottom:0;
         left:0;
         width:100%;
         height:2px;
         visibility:hidden;
         background:#4395FF;
         transform:scaleX(0);
         transition:all 0.5s;
     }
    #top .top_list > li > a:hover:after{
         visibility:visible;
         transform: scaleX(1);
     }
    #top .top_list .science_con {
        position: absolute;
        z-index: 20;
        width: 185px;
        left:-46px;
        top:46px;
        border: 1px solid #000;
        padding: 10px 0;
        border-radius: 5px;
        display: none;
        background:#CCE6F5;
    }
    #top .top_list .science_con li{
        width: 90px;
        padding-left: 10px;
        height: 26px;
        line-height:26px;
    }
    #top .top_list .science_con li a {
        font-size: 14px;
        color:#000000;
    }
    #top .top_list .science_con .jiao {
        display: inline-block;
        width:20px;height:20px;
        background:#CCE6F5;
        border:1px solid #000;
        border-right:0;
        border-bottom:0;
        transform:rotate(45deg);
        position:absolute;
        top:-11px;
        left:87px;
    }
    #top_btn{
        display:none;
    }
    .view p{
         color: #333;
         opacity: 0;
         text-indent:2rem;
         transform: scale(0);
         transition: all 0.5s linear;
         font-family: Georgia, serif;
         font-size:1rem;
         line-height: 1.5rem;
         position: relative;
         padding:0.9rem 4rem 4rem;
         text-align:left;
     }
    .view h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background: transparent;
        margin:1rem 3rem 0 3rem;
        transform: scale(0);
        color: #333;
        transition: all 0.5s linear;
        filter: alpha(opacity=0);
        opacity: 0;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-size:1.5rem;
        padding: 0.9rem;
    }
    .marque{
        border-top:1px solid #ddd;
        padding-top:20px;
        margin-top:20px;
        float:left;
        width:100%;
        text-align: center;
        overflow:hidden;
        position: relative;
    }
    .marque>div{
        background:transparent;
    }
    .marque ul{
        width:2520px;
        position:relative;

    }
    .marque li{
        float:left;
        width:280px;
        border:0.5rem solid transparent;
        position:relative;
        height:360px;
    }
    .marque li a{
        color:#333;
    }
    .marque li a div{
        position:absolute;
        width:100%;
        height:300px;
        overflow:hidden;
    }
    .marque li h2{
        margin:10px 0;
        position:absolute;
        bottom:0;
        font-size: 0.9rem;
        font-weight:normal;
    }
    #vr .marque li h2{
        color:#fff;
    }
    .marque>a[class^=arrow]{
        width:30px;
        height:60px;
        line-height:60px;
        background:rgba(0,0,0,.5);
        position:absolute;
        z-index: 20;
        font-size:40px;
        cursor: pointer;
        color:#fff;
        display:none;
        font-family:FontAwesome;
    }
    .marque>.arrow_left{
        left:0;
        top:150px;
    }
    .marque>.arrow_left:after{
        content:"\f100";
        display:inline-block;
    }
    .marque>.arrow_right{
        right:0;
        top:150px;
    }
    .marque>.arrow_right:after{
        content:"\f101";
        display:inline-block;
    }
}
@media screen and (max-width:768px){
    #main .capacoty .view {
        width: 50%;
        height: 250px;
        overflow: hidden;
    }
    #main .capacoty .view img{
        width:100%;
    }
    #main .capacoty .phone .big_img,#main .ai .artificial .capacoty_con .lf{
         display:none;
     }
    #main .ai .artificial .capacoty_con > div {
        width: 50%;
    }
    #main .uav .uav_con > div:nth-child(1), #main .uav .uav_con > div:nth-child(2) {
        width: 100%;
    }
    #main .uav .uav_con > div {
        width:50%;
        float:left;
        overflow: hidden;
    }
    #main .phone_left{
        float:left;
        width:100%;
    }
    #main .vr .vr_con > div {
        float:left;
        width: 50%;
        overflow: hidden;
    }
    #main .vr .vr_con > div:nth-child(1) {
        width: 100%;
        border-color: transparent;
    }
    #top>div.clear>a{
        display:none;
    }
    #footer{
        display:none;
    }



    #top{
        position: fixed;
        top: 0;
        width: 100%;
        z-index:300;
        background:#fff;
        display: none;
    }
    #top .select{
        float:left;
        color:#000;
        padding:5px 5px 0 0;
    }
    #top .select a{
        font-size:1rem;
        margin:0 0.8rem;
        color:#000;
    }
    #top .select span{
        display:none;
    }
    #top .select input{
        display:none;
    }
    #top .logo img {
        height: 80px;
    }
    #top .top_list {
        float:left;
        bottom:9px;
        width:100%;
        right:0;
        margin-top:8px;
        border-bottom:1px solid #ddd;
    }
    #top .top_list li {
        width:100%;
        height:2.2rem;
    }
    #top .top_list > li > a {
        display: inline-block;
        width:100%;
        color:#333;
        line-height:2rem;
        font-size: 0.9rem;
        padding:0 3rem;
        border-bottom:1px dashed #ddd;
    }
    #top .top_list .science_con {
        position: absolute;
        z-index: 20;
        width: 200px;
        border: 1px solid #000;
        padding: 10px 0;
        border-radius: 5px;
        display: none;
    }
    #top .top_list .science_con li {
        width: 90px;
        padding-left: 10px;
        height: 26px;
    }
    #top .top_list .science_con li a {
        font-size: 16px;
        color:#333;
    }
    #top .top_list .science_con .jiao {
        display: inline-block;
        border-bottom: 20px solid #000;
    }
    .view p{
          color: #333;
          opacity: 0;
          text-indent:1rem;
          transform: scale(0);
          transition: all 0.5s linear;
          font-family: Georgia, serif;
          font-size:1rem;
          line-height: 1.5rem;
          position: relative;
          text-align:left;
      }
    .view h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background: transparent;
        margin:0.5rem;
        margin-bottom:0;
        transform: scale(0);
        color: #333;
        transition: all 0.5s linear;
        filter: alpha(opacity=0);
        opacity: 0;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-size:1.2rem;
    }
    #search{
        display: none;
    }
    .marque{
        display:none;
    }
}



#top_btn{
    font-family:FontAwesome;
    width:40px;
    height:40px;
    background:#333;
    position:fixed;
    border-radius:3px;
    top:6px;
    right:20px;
    z-index:400;
    color:#fff;
}
#top_btn.top_colse{
    background:#fff;
    color:#000;
}
#top_btn:before{
    display:inline-block;
    content:"\f0ca";
    font-size: 30px;
    margin:4px 0 0 5px;
}
#top_btn.top_colse:before{
    display:inline-block;
    content:"\f00d";
    font-size: 30px;
    margin:6px 0 0 8px;
}

.syno {
    float: left;
    position: relative;
}

#main .ai {
    background: #333;
}



#main .ai .artificial:after {
    content: "";
    display: block;
    clear: both;
}

#main .ai .artificial .capacoty_title {
    width: 100%;
}

#main .ai .artificial .capacoty_con {
    width: 100%;
    overflow: hidden;
}


#main .ai .artificial .capacoty_con .lf {
    border:0.5rem solid transparent;
    overflow: hidden;
    height:700px;
}



#main .vr .vr_con:after {
}


#main .vr .vr_foot {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

#main .vr .vr_foot > div {
    float: left;
    width: 25%;
    padding: 10px;
    overflow: hidden;
}

#main .vr .vr_foot > div img {
    height: 250px;
}

#main .vr .vr_foot > div p {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

#main #uav{
    background:#333;
}




#main .uav .uav_con > div:nth-child(1) {
    border-right: 0;
}

#main .uav .uav_con > div:nth-child(2) {
    border-left: 0;
}

#main .uav .uav_con > div img {
    /*height:250px;*/
}


#main .uav_con .uav_classify ul {
    float: left;
    width:100%;
}

#main .uav_con .uav_classify li {
    width: 100%;
    float: left;
}
#main .uav_con .uav_classify li div span{
    display: inline-block;
    width:100%;
    height:100%;
}
#main .uav_con .uav_classify li img {
}

#main .uav_con .uav_classify li a {
    float: left;
    width: 100%;
}

#main .uav_con .uav_classify li div {
    float: left;
    width: 50%;
    height: 169.5px;
    line-height: 169px;
    font-size: 22px;
    overflow: hidden;
    background: #222;
    text-align: center;
    color: #fff;
}
#main .uav_con .uav_classify li div :only-child{
    transition:all 0.3s;
}
#main .uav_con .uav_classify li div :only-child:hover{
    transform:scale(1.2);
}


.syno img {
    width: 100%;
    height: 100%;
}

.syno .syno_mask{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    box-shadow:0 0 200px #000 inset;
    transition:opacity 0.3s;
}
.syno .syno_bom{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-weight: 400;
    transition:height 0.3s;
}
.syno .syno_bom h3{
    font-weight:normal;
    text-align:center;
}
.syno .syno_bom p{
    padding-left:60px;
    height:25px;
    line-height:25px;
    background:url(../img/abc.png) no-repeat 9px -390px;
}
.syno:hover .syno_mask{
    opacity:.3;
    transition:opacity 0.3s;
}
.syno:hover .syno_bom{
    height:70px;
}
.syno:hover .syno_bom a{
}
.syno{
    position:relative;
    transition:all 0.5s ease-in-out;
}
.syno a{
    color:#fff;
}




#banner ul{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius:0.5rem;
    /*background:#ddd;*/
}
#banner li:not(:last-child){
    border-bottom:1px dotted #333;
}
#banner li{
    position:relative;
    height:40px;
    width:85px;
    padding:0 5px 0 15px ;
    cursor:pointer;
}
#banner li p{
    float:left;
    line-height:40px;
    font-size:0.8rem;
    color:#00B6E4;
}
#banner li.active p{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius:0.5rem;
    width:114px;
    padding-right:10px;
    background:#f75858;
    color:#fff;
    text-align:right;
    position:absolute;
    left:0;
    font-size:0.9rem;
}



/*页面底部*/
    #footer {
        width: 100%;
        background: #000;
        color:#fff;
        padding-top:50px;
    }

    #footer .foot {
        width: 1120px;
        margin: 0 auto;
    }
    #footer .foot>div{
        float:left;
    }
    #footer .foot .foot_logo{
        width:20%;
    }
    #footer .foot .foot_logo img{
        width:70%;
    }
    #footer .foot .foot_con{
        width:50%;
    }
    #footer .foot .foot_con dt{
        font-size:15px;
        margin:10px 0;
    }
    #footer .foot .foot_con dl{
        float:left;
        width:33%;
        padding-left:25px;
    }
    #footer .foot .foot_con dl a{
        display:block;
        margin:5px 0;
        font-size:14px;
        color:#999;
    }
    #footer .foot .foot_con dl a:hover{
        color:#e00;
    }
    #footer .foot .foot_right{
        width:30%;
    }
    #footer .foot .foot_right dl{
        float:left;
        width:50%;
        padding-left:25px;
    }
    #footer .foot .foot_right dl h2{
        font-weight:normal;
        color:#fff;
        margin:10px 0 20px;
    }

    #footer .footer{
        width:100%;
        border-top:1px solid #333;
        border-bottom:1px solid #333;
        padding:30px 0;
        margin:30px 0;
    }
    #footer .footer .footer_lj{
        width:20%;
        float:left;
        font-size:1rem;
    }
    #footer .footer .footer_parent{
        width:80%;
        float:left;
    }
    #footer .footer .footer_parent li{
        float:left;
        margin-right:2.1rem;
        line-height:2.1rem;
    }
    #footer .footer .footer_parent li a{
        color:#666;
        font-size:0.9rem;
    }
    #footer .foot .footer_bom{
        float:right;
        margin-bottom:30px;
    }









.tit_img{
    overflow:hidden;
}
.tit_img img{
    transition:all 1s;
    transform:scale(1);
}
.tit_img:hover img{
    -webkit-animation:big_img 1s;
    transform:scale(1.2);
}



#model_load{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,.7);
    z-index:1001;
    display:none;
}
#model_load .model_load_top>span:hover{
    transform:rotate(180deg);
}
#model_load .model_load_top>span{
    float:right;
    width:30px;
    height:30px;
    line-height:26px;
    text-align:center;
    font-size:30px;
    margin-right:10px;
    cursor:pointer;
    transition:all 0.3s;
}
#model_load h2{
    padding:10px;
    border-bottom:1px solid #999;
}
#model_load .model_load_top{
    width:350px;
    height:356px;
    border-radius:10px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-178px 0 0 -175px;
    background:#fff;
}
#model_load .model_load_body{
    margin:0 20px;
}
#model_load .model_load_body p{
    height:10px;
    margin:5px 0 3px;
    color:#ff0700;
}
#model_load .model_load_body .model_load_user input{
    border:1px solid #ddd;
    width:310px;
    padding:10px 5px 10px 40px;
    margin:5px 0;
}
#model_load .model_load_body #user:before{
    font-family:FontAwesome;
    display:inline-block;
    content:"\foo7";
    font-size:30px;
}
#model_load .model_load_top form .code_import{
    width:170px;
}
#model_load .model_load_top form #verification_code{
    width:130px;
    height:37px;
    display:inline-block;
    border:1px solid #000;
    position:relative;
    left:8px;
    top:14px;
}
#model_load .model_load_top form .write_pwd{
    line-height:20px;
    padding-top:2px;
}
#model_load .model_load_top form .write_pwd input{
    position:relative;
    top:2px;
}
#model_load .model_load_top form .write_pwd label{

}
#model_load .model_load_top form #submit{
    margin:10px auto;
    text-align: center;
}
#model_load .model_load_top form #submit button{
    width:90%;
    height:35px;
    background:#005ea7;
    border:0;
    outline:0;
    color:#fff;
    font:16px "microsoft yahei";
}
#to_top{
    width:60px;
    height:60px;
    position:fixed;
    right:30px;
    bottom:110px;
    background:#00B6E4;
    text-align:center;
    line-height:52px;
    display:none;
    cursor:pointer;
    border-radius:50%;
    z-index:1000;
    transition:all 0.3s;
}
#to_top:hover{
    transform:scaleX(0.7) scaleY(0.7);
    background:#0AA3CA;
    transition:all 0.3s;
}

#to_top:before{
    font-family:FontAwesome;
    display:inline-block;
    color:#fff;
    content:"\f106";
    font-size: 64px;
}








html, body {
    height: 100%;
}
#stars{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    background: #000;
    -o-perspective: 340px;
    perspective: 340px;
}
.stars {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    box-shadow: -447px 387px #c4c4c4, -401px 118px #fafafa, -109px 217px #d9d9d9, -680px -436px #e3e3e3, 514px 360px #cccccc, -708px 298px #e8e8e8, -696px -270px #ededed, 116px -128px #f7f7f7, 179px 35px white, -404px -90px whitesmoke, -331px -309px #c4c4c4, -363px -24px #d1d1d1, 277px 416px #fafafa, -145px -244px whitesmoke, 123px 62px #d4d4d4, -407px 418px #d9d9d9, 535px 237px #d9d9d9, -466px -78px #f7f7f7, 257px 287px #dedede, 327px -398px #e0e0e0, -602px -38px #c2c2c2, 128px 398px #e6e6e6, 274px -446px #d1d1d1, -602px -298px #c7c7c7, 526px -5px #c4c4c4, -90px -158px #fcfcfc, 5px 294px whitesmoke, -633px 229px #c4c4c4, -475px 427px #dedede, 586px -453px #f2f2f2, 180px -432px #c7c7c7, -637px -88px #cfcfcf, -453px 308px #d6d6d6, -111px 1px #d9d9d9, 573px -450px #ededed, 198px 300px #d6d6d6, -355px 166px #dedede, -715px 13px #e3e3e3, 262px -104px #d1d1d1, 147px 325px #dbdbdb, 1px 399px #dbdbdb, 286px -100px white, 43px -329px #e8e8e8, 617px 55px #d9d9d9, -168px -392px #cccccc, 84px 219px #c9c9c9, 507px -226px #d9d9d9, -327px -70px #e6e6e6, 386px -212px #c4c4c4, -717px 4px #cfcfcf, 502px -231px #e3e3e3, 302px 56px #ededed, 649px 341px #c7c7c7, 569px 350px #c9c9c9, 516px -31px #e6e6e6, 689px 447px #c2c2c2, 591px -206px #fafafa, 422px -137px #e6e6e6, -510px -324px #cccccc, -649px 287px #c2c2c2, -194px -48px #f7f7f7, -279px -329px #d1d1d1, -406px 478px #dbdbdb, -735px -87px #c9c9c9, 30px -197px #dedede, -564px 233px #e6e6e6, -486px -324px #ededed, -54px -7px #ededed, -441px -194px #e3e3e3, -133px -95px #e0e0e0, -722px -73px #d6d6d6, 595px 423px #ededed, 568px -39px #ededed, 370px 377px #d1d1d1, -419px -102px #fcfcfc, -450px 109px #c4c4c4, -57px -119px #d1d1d1, -582px 150px #e6e6e6, 206px -263px #cfcfcf, 582px -461px #c9c9c9, -268px -141px #d9d9d9, -148px 291px #c7c7c7, 254px -179px #c9c9c9, 725px 424px #f0f0f0, 391px -150px #ebebeb, 89px -299px #d4d4d4, 170px 1px #c9c9c9, 243px 209px #c7c7c7, 27px 460px #c9c9c9, -465px -380px #d4d4d4, 530px -360px whitesmoke, -626px 53px #e0e0e0, 706px 218px #d9d9d9, 40px -82px #cccccc, -5px -212px #e6e6e6, -742px 33px #ebebeb, -714px 478px #e0e0e0, -585px -125px #cccccc, -216px 348px #cfcfcf, 601px 332px #ededed, 344px -88px #c4c4c4, 659px -22px #d1d1d1, -411px 188px #d6d6d6, -423px -206px #fcfcfc, -359px -136px #cfcfcf, 612px 406px whitesmoke, 725px 96px whitesmoke, 363px -446px white, -204px 325px #c9c9c9, 740px 176px #fafafa, -489px -352px white, -638px 64px #dbdbdb, 537px -65px #dbdbdb, 151px -32px #ebebeb, 681px 212px #fcfcfc, 604px -149px #e6e6e6, -542px -398px #c4c4c4, -707px 66px whitesmoke, -381px 258px #cfcfcf, -30px 332px #d6d6d6, 512px -381px #c9c9c9, 195px 288px #cccccc, -278px 479px #c7c7c7, 27px -208px #d6d6d6, -288px 15px white, -680px 248px #dedede, 433px 31px #c9c9c9, 150px -206px #d4d4d4, -79px 247px white, -594px 115px #e0e0e0, 99px 292px #e0e0e0, 673px -269px #dedede, -257px -64px #d1d1d1, 449px 81px #f2f2f2, 18px -99px #d1d1d1, -694px 415px #f7f7f7, 240px 264px #e0e0e0, 450px -172px white, 383px 7px #e8e8e8, 338px -73px #c9c9c9, 291px -19px #ebebeb, 659px 137px #d1d1d1, 602px -6px #fcfcfc, 554px 249px #ebebeb, 625px 356px #d9d9d9, 579px -183px #d6d6d6, -20px 250px white, -401px 431px #c4c4c4, -645px -232px #cccccc, -265px -148px white, 553px 258px #d1d1d1, 166px -360px #ebebeb, 719px 51px #ededed, 612px -129px #ebebeb, -465px -104px #f2f2f2, -154px -121px #d9d9d9, -1px 330px #f2f2f2, -666px 248px #f7f7f7, -720px 264px #ededed, 148px -365px #e6e6e6, -388px -349px #c4c4c4, 128px -88px #e3e3e3, -683px -274px #fafafa, -341px 41px #c9c9c9, -59px -471px #f0f0f0, -3px -427px #c2c2c2, 418px 167px #d6d6d6, 343px 247px #c7c7c7, 623px -347px #d1d1d1, 716px -217px white, 243px -409px whitesmoke, -75px -126px #d6d6d6, -730px -91px #c9c9c9, -210px -397px #cfcfcf, -349px 180px #c9c9c9, -567px -281px #e0e0e0, -460px 381px #fcfcfc, -310px -22px #ededed, 450px -1px #dbdbdb, -405px -328px #e3e3e3, 5px 332px #d6d6d6, -294px 302px #fcfcfc, -398px 97px whitesmoke, -696px 325px #cfcfcf, -589px 110px #d6d6d6, 353px -411px #dbdbdb, -697px -318px #ebebeb, -114px -72px #f0f0f0, 259px -193px #fcfcfc, 60px 26px #e6e6e6, -63px -232px white, 205px -372px #f7f7f7, -464px -333px #f2f2f2, -374px 123px white, -377px -386px #c7c7c7, -80px 337px #cccccc, 478px -178px #dbdbdb, 222px 420px #ebebeb, -707px 99px #c4c4c4, 716px -132px #fafafa, -253px -286px #e3e3e3, 646px 178px #f0f0f0, 201px 24px #d1d1d1, 178px -58px #c7c7c7, -557px 368px #ededed, 0px 219px #d9d9d9, -266px -269px #cccccc, 242px -197px #c9c9c9, -419px 193px #c2c2c2, -47px 91px #c7c7c7, -109px 75px #c2c2c2, -146px -453px #d6d6d6, 671px -350px #f2f2f2, 421px -91px #d9d9d9, 738px 19px #ededed, -316px -155px #dedede, 419px 244px #fcfcfc, -278px -418px #d6d6d6, -581px -181px #fcfcfc, 139px 264px #d9d9d9, 691px -11px #ebebeb, -622px 402px #c2c2c2, 219px 396px #f0f0f0, -149px -423px white, -716px -78px #d9d9d9, -590px 341px #e6e6e6, -208px 79px #d6d6d6, -227px -24px #f7f7f7, 239px 262px #d1d1d1, 740px 443px #f7f7f7, 509px 134px #d6d6d6, -555px 232px #e8e8e8, -67px -427px #cfcfcf, -368px 250px #f7f7f7, 715px -415px #fafafa, 411px -301px #f0f0f0, -322px 287px #d9d9d9, -429px -90px #f2f2f2, -327px -387px #f0f0f0, -491px 183px #c2c2c2, -133px 250px #d4d4d4, 538px 139px #e3e3e3, -417px -125px #f0f0f0, 653px -351px #e6e6e6, -549px 38px #d4d4d4, 602px 110px whitesmoke, 415px 105px #e0e0e0, -733px -371px #cfcfcf, 286px 403px #d4d4d4, 11px 320px #c4c4c4, -597px 158px whitesmoke, 716px -350px whitesmoke, 321px 67px #fafafa, -237px -300px #cfcfcf, 74px 152px #c9c9c9, 587px -123px #fcfcfc, 699px -332px whitesmoke, 399px 355px #f7f7f7, -323px 314px #dbdbdb, 89px 416px #c7c7c7, 445px 38px #e3e3e3, 572px 122px #c4c4c4, -258px 372px white, 49px 306px #d9d9d9, 437px -35px #dedede, 566px 174px #f2f2f2, 732px -299px whitesmoke, -410px 394px #ededed, 131px -415px white, 19px -326px #e8e8e8, -700px -188px #d1d1d1, 96px -1px #e0e0e0, -328px -396px #f0f0f0, -117px -214px #fcfcfc, -53px 261px #ebebeb, 80px 134px #d6d6d6, -364px -216px white, -636px -125px #dbdbdb, -639px -265px #e3e3e3, 208px 98px #c7c7c7, 172px 467px #e0e0e0, 435px 309px #e3e3e3, 194px -259px #f0f0f0, 209px -186px #c9c9c9, -312px 418px #fafafa, 229px 407px #c9c9c9, -449px -357px #fafafa, 674px 121px #e8e8e8, 608px -429px #ebebeb, -431px -428px #cfcfcf, 105px 462px #e3e3e3, -179px -372px #e3e3e3, 143px -317px #d6d6d6, -449px -149px #fafafa, -544px 250px #dedede, -220px -323px whitesmoke, 658px 8px whitesmoke, -656px -244px #e8e8e8, 347px 11px whitesmoke, 694px -230px #f7f7f7, -317px 1px #c4c4c4, 28px 23px #fcfcfc, -382px 321px #dbdbdb, 632px -74px #c4c4c4, 154px -245px #c2c2c2, -553px 337px #d6d6d6, -48px -243px #d1d1d1, 92px -391px #cccccc, -71px -256px #cfcfcf, -372px 57px #d9d9d9, 369px -140px #fcfcfc, 675px 81px #c2c2c2, -663px 254px #cccccc, 703px -203px #ededed, 74px -363px #c2c2c2, 643px -458px #d1d1d1, 198px 359px #cccccc, 265px 309px #d4d4d4, -353px -368px #e8e8e8, -465px 439px whitesmoke, 693px 360px #c9c9c9, 634px -397px #d1d1d1, 467px 25px whitesmoke, -558px -272px #e6e6e6, 671px 69px #dbdbdb, 407px 357px #cfcfcf, 379px 80px white, 10px -203px #c9c9c9, 104px -292px #f0f0f0, -667px -29px #d1d1d1, 557px -155px #e6e6e6, -505px 115px #cfcfcf, -605px 164px #f2f2f2, -108px -223px #e0e0e0, 523px -156px #ebebeb, 691px 230px white, -507px -13px #d1d1d1, -349px 332px #dedede, 520px 266px whitesmoke, -66px -250px #e6e6e6, -496px -449px #ebebeb, 414px -170px #dedede, -649px 230px #ebebeb, 598px -92px #c7c7c7, -638px 113px #c2c2c2, 151px 363px #f7f7f7, -445px -241px #f0f0f0, 527px -14px #dedede, 203px -61px #cfcfcf, -716px -284px #ebebeb, -525px 134px #c2c2c2;
    -o-animation:fly 2s linear infinite;
    -moz-animation:fly 2s linear infinite;
    -webkit-animation:fly 2s linear infinite;
    animation:fly 2s linear infinite;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.stars:before, .stars:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
}
.stars:before {
    opacity: .6;
    -o-transform: translateZ(-300px);
    -moz-transform: translateZ(-300px);
    transform: translateZ(-300px);
}
.stars:after {
    opacity: .4;
    -moz-transform: translateZ(-600px);
    -o-transform: translateZ(-600px);
    transform: translateZ(-600px);
}
@-o-keyframes fly {
    from {
        opacity: .6;
        -moz-transform: translateZ(0px);
        -webkit-transform: translateZ(0px);
    }
    to {
        opacity: 1;
        -moz-transform: translateZ(300px);
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
    }
}
@-moz-keyframes fly {
    from {
        opacity: .6;
        -moz-transform: translateZ(0px);
        -webkit-transform: translateZ(0px);
    }
    to {
        opacity: 1;
        -moz-transform: translateZ(300px);
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
    }
}
@-webkit-keyframes fly {
    from {
        opacity: .6;
        -moz-transform: translateZ(0px);
        -webkit-transform: translateZ(0px);
    }
    to {
        opacity: 1;
        -moz-transform: translateZ(300px);
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
    }
}
@keyframes fly {
    from {
        opacity: .6;
        -o-transform: translateZ(0px);
        -moz-transform: translateZ(0px);
        transform: translateZ(0px);
    }
    to {
        opacity: 1;
        -o-transform: translateZ(300px);
        -moz-transform: translateZ(300px);
        transform: translateZ(300px);
    }
}

.view .mask,.view .content {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
.view img {
    height:100%;
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
}
.view .mask{
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    filter: alpha(opacity=0);
    opacity: 0;
}

.view a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    display: inline-block;
    text-decoration: none;
    padding:0.5rem 1rem;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-40px;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}
.view:hover img {
    transform: scale(10);
    opacity: 0;
}
.view:hover .mask {
    background-color: rgba(255, 231, 179,.8);
    opacity: 1;
}
.view:hover h2,.view:hover p,.view:hover a.info {
    transform: scale(1);
    opacity: 1;
}









.htmleaf-container{
    position: relative;
    z-index: 2000;
    display:none;
}
#ss_menu {
    bottom: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    position: fixed;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    right: 30px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#ss_menu > .menu {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    color: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
#ss_menu > .menu:hover {
    transform: scaleX(0.7) scaleY(0.7);
    background: #0AA3CA;
    transition: all 0.3s;
}
#ss_menu > .menu .share {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
#ss_menu > .menu .share .circle {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    margin-top: -6px;
    left: 12px;
    opacity: 1;
}
#ss_menu > .menu .share .circle:after, #ss_menu > .menu .share .circle:before {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    content: '';
    opacity: 1;
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}
#ss_menu > .menu .share .circle:after {
    left: 20.78461px;
    top: 12.0px;
}
#ss_menu > .menu .share .circle:before {
    left: 20.78461px;
    top: -12.0px;
}
#ss_menu > .menu .share .bar {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    width: 24px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    left: 18px;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
#ss_menu > .menu .share .bar:before {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    content: '';
    width: 24px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0px;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
#ss_menu > .menu .share.close .circle {
    opacity: 0;
}
#ss_menu > .menu .share.close .bar {
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -12px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
}
#ss_menu > .menu .share.close .bar:before {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-450deg);
    -moz-transform: rotate(-450deg);
    -ms-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
}
#ss_menu > .menu.ss_active {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}
#ss_menu > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    background:#00B6E4;
    border-radius: 50%;
    padding:10px;
}
#ss_menu div i{
    font-style: normal;
}
#ss_menu > div a{
    display:inline-block;
    font-size: 16px;
    width:40px;
    color:#fff;
    text-decoration:none;
}
#ss_menu > div:hover {
    background:#0aa3ca;
    cursor: pointer;
}
#ss_menu div:nth-child(1) {
    top: 0px;
    left: -160px;
}
#ss_menu div:nth-child(2) {
    top: -80.0px;
    left: -138.56406px;
}
#ss_menu div:nth-child(3) {
    top: -138.56406px;
    left: -80.0px;
}
#ss_menu div:nth-child(4) {
    top: -160px;
    left: 0.0px;
}